




<mat-nav-list>
 
  
    <div class="logo-section">
    <h4 mat-subheader class="mt-2" >Music
    <span class="Streaming" style="  color:#83A4D1">Streaming</span>
    </h4>
    <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <span>Home</span>

    </a>
        <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
            <mat-icon>playlist_play</mat-icon>
            <span>Playlist</span>

        </a>

        <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
            <mat-icon>music_note</mat-icon>
            <span>Genres</span>

        </a>
        <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
            <mat-icon>mic</mat-icon>
            <span>Artists</span>

        </a>
        <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
            <mat-icon>album</mat-icon>

            <span>Album</span>

        </a>
        <a mat-list-item routerLink="/Home" routerLinkActive="list-item-active" style="  margin-top: 18px;">
            <mat-icon>favorite</mat-icon>

            <span>Favorites</span>

        </a>
        </div>

</mat-nav-list> 

