<div class="container">
    <div class="row">
        <div class="col-6">
            
            <form class="login"  >
                <div class="col text-center p-2 mb-3" style="  margin-top: 4%;">
                    <span class="Welcome">
                        Welcome back
                    </span>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control"id="username" placeholder="Enter Your Mail Id !!">

                    </div>

                    <div class="col" style="  margin-top: 5%;">
                        <input type="text" class="form-control"id="username" placeholder="Enter Your Password ***">
                        
                    </div>

                </div>
                <button type="button" class="btn btn-primary">Submit</button>

            </form>

        </div>
        <div class="col-6">
            <div class="image1">

            <img class="pic" src="assets/Rectangle 16.jpg">
            </div>
        </div>
    </div>
</div>
